# Django
SECRET_KEY=your-django-secret-key
DEBUG=True

# Supabase
SUPABASE_URL=https://cyvyilelgipfcrwzssmv.supabase.co
SUPABASE_SERVICE_KEY=your-service-role-key

# RapidAPI
RAPIDAPI_KEY=your-rapidapi-key
RAPIDAPI_HOST=network-as-code.nokia.rapidapi.com